<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.sideprompter.app.v1</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleExecutable</key>
	<string>SidePrompter</string>
	<key>CFBundleName</key>
	<string>SidePrompter</string>
	<key>CFBundleDisplayName</key>
	<string>SidePrompter</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSAudioCaptureUsageDescription</key>
	<string>This application requires access to audio input for audio transcription.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This application requires access to the microphone for audio transcription.</string>
	<key>NSAccessibilityUsageDescription</key>
	<string>This application requires accessibility permissions to read text from other windows and for global hotkeys.</string>
    <key>NSAppleEventsUsageDescription</key>
    <string>This application requires permission to send Apple Events to other applications for system audio recording.</string>
	<key>CFBundleIconFile</key>
	<string>icon.icns</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>LSUIElement</key>
	<false/>
</dict>
</plist>